<table id="bookTable">
	<tr>
		<td>Title</td>
		<td>Author</td>
		<td>Language</td>
		<td>Date</td>
		<td>Rank</td>
	</tr>
	<% for @book in @books %>
		<tr>
			<td><%= @book.title %></td>
			<td><%= @book.author %></td>
			<td><%= @book.language %></td>
			<td><%= @book.published %></td>
			<td><%= @book.id %></td>
		</tr>
	<%end%>
</table>
