<h1>POKEMON Got catch em' all</h1>
<table id="pet_table">
  <thead>
    <tr>
	    <th><%= link_to "Name", :sort=> "name"%></th>
	    <th><%= link_to "Age", :sort=> "age"%></th>
	    <th><%= link_to "Primarytype", :sort => "primaryType"%></th>
	    <th><%= link_to "Secondarytype", :sort => "secondaryType"%></th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody> 
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.primaryType %></td>
        <td><%= pet.secondaryType %></td>
	<td><%= image_tag(pet.image, :class => 'list_image') %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Deposit Pokemon into PC for eternity', new_pet_path %>
